<div class="web-development-container">
  <h1>Web Development</h1>

  <p>We offer a wide range of web development services, including:</p>

  <ul>
    <li>Website design</li>
    <li>Website development</li>
    <li>Website maintenance</li>
    <li>Website hosting</li>
  </ul>
</div>
