.audio-production-container {
  margin: 40px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  background-color: #2b2a2a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 90vh;
}

.audio-production-container h1 {
  font-size: 150px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: #ccc 0 0 10px;
}

.audio-production-container p {
  font-size: 50px;
  font-weight: 500;
  margin: 40px;
  text-align: justify;
  text-decoration: none;
}
