<div class="home-banner-radio">
  <img src='https://i.postimg.cc/9FFMsQKy/296275ba-ece4-4ff3-aefc-9f970c8db432.jpg' alt='RADIO FBL'>
  <div class="home-banner-radio-content">
    <h1>Radios FBL!</h1>
    <p>The evolution of the radio.</p>
  </div>
</div>
<div id="about">
  <div class="about-us-container">
    <h2>About Us</h2>
    <p>
      Welcome to Radios FBL, your premier audiovisual production company specializing in providing high-quality services for independent artists and musicians. With a passion for creativity and a commitment to excellence, we strive to bring your artistic vision to life.
    </p>
    <a class="btn btn-flat" href="/pages/about">Learn more!</a>
  </div>
</div>
<div id="services">
  <div class="our-services-container">
    <h2>Our Services</h2>
    <p>
      We offer a wide range of services to help you achieve your artistic goals. Whether you're looking to record your first album or create a music video for your latest single, we've got you covered.
    </p>
    <a class="btn btn-primary" href="/services/index">Learn more!</a>
    <%= render partial: "/services/services" %>
  </div>
<div id="app">
  <div class="our-app-container">
    <h2>Our app</h2>
    <p>
      Our app is available on Android and iOS. Download now to get started!
    </p>
    <a class="btn btn-flat" href="/pages/about">Learn more!</a>
  </div>
</div>
<div id="contact">
  <div class="rfbl-contact-container">
    <h2>Contact Us</h2>
    <p>
      Have a question or want to collaborate with us? Reach out to our team and let's discuss your project. We'd love to hear from you!
    </p>
    <p>Email: info@radiosfbl.com</p>
    <p>Phone: +52 (222) 512-2454</p>
  </div>
</div>
