<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Welcome <strong>to </strong> Radios <strong>FBL</strong>!</h1>
    <p>The evolution of the radio.</p>
  </div>
</div>
<p><span data-controller="typed-js"></span></p>
<section id="about">
  <div class="container">
    <h2>About Us</h2>
    <p>
      Welcome to Radios FBL, your premier audiovisual production company specializing in providing high-quality services for independent artists and musicians. With a passion for creativity and a commitment to excellence, we strive to bring your artistic vision to life.
    </p>
    <a class="btn btn-flat" href="/pages/about">Learn more!</a>
  </div>
</section>
<section id="services">
  <div class="container">
    <h2>Our Services</h2>
    <p>
      We offer a wide range of services to help you achieve your artistic goals. Whether you're looking to record your first album or create a music video for your latest single, we've got you covered.
    </p>
    <%= render partial: "/services/services" %>
    <a class="btn btn-primary" href="/services/index">Learn more!</a>
  </div>
<section id="app">
  <div class="container">
    <h2>Our app</h2>
    <p>
      Our app is available on Android and iOS. Download now to get started!
    </p>
  </div>
</section>
<section id="contact">
  <div class="container">
    <h2>Contact Us</h2>
    <p>
      Have a question or want to collaborate with us? Reach out to our team and let's discuss your project. We'd love to hear from you!
    </p>
    <p>Email: info@radiosfbl.com</p>
    <p>Phone: +52 (222) 512-2454</p>
  </div>
</section>
