<div class="privacy-page-container">
  <h1>Privacy Policy</h1>

  <p>
    This privacy policy sets out how [name of the web site owner] ("we," "us," or "our") uses and protects any information that you give when you use this web site. We are committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this web site, then you can be assured that it will only be used in accordance with this privacy policy.
  </p>

  <p>
    We may collect the following information:
  </p>
  <ul>
    <li>Your name</li>
    <li>Contact information including email address</li>
    <li>Demographic information such as postcode, preferences, and interests</li>
    <li>Other information relevant to customer surveys and/or offers</li>
  </ul>

  <p>
    We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
  </p>
  <ul>
    <li>Internal record keeping</li>
    <li>Improving our products and services</li>
    <li>Sending promotional emails about new products, special offers, or other information which we think you may find interesting using the email address which you have provided</li>
    <li>Customizing the web site according to your interests</li>
  </ul>

  <p>
    We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online.
  </p>

  <p>
    Our web site may contain links to other web sites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other web site. Therefore, we cannot be responsible for the protection and privacy of any information which you provide while visiting such sites and such sites are not governed by this privacy policy. You should exercise caution and look at the privacy policy applicable to the web site in question.
  </p>

  <p>
    We will not sell, distribute, or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.
  </p>

  <p>
    If you believe that any information we are holding on you is incorrect or incomplete, please contact us as soon as possible. We will promptly correct any information found to be incorrect.
  </p>

  <p>
    If you have any questions or concerns about our privacy policy or the information we hold about you, please contact us at <a href="mailto:email@example.com">email@example.com</a>.
  </p>
</div>
