<h1>Damian Reyes</h1>

<p>Damian Reyes is a software engineer with over 10 years of experience. He is passionate about building innovative products that solve real-world problems.</p>

<p>Damian is a graduate of the University of California, Berkeley, where he studied computer science. He is also a certified scrum master and has experience leading and managing software development teams.</p>

<p>Damian is currently working as a software engineer at Google. He is excited to be part of a team that is constantly innovating and pushing the boundaries of what is possible.</p>

<p>In his spare time, Damian enjoys playing basketball, hiking, and spending time with his family.</p>

<p>Here are some of Damian's skills:</p>

<ul>
  <li>Software engineering</li>
  <li>Scrum master</li>
  <li>Leadership</li>
  <li>Management</li>
  <li>Basketball</li>
  <li>Hiking</li>
  <li>Family</li>
</ul>
