.main-footer-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.footer-rfbl-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-rfbl-logo img {
  width: 150px;
}

.footer-logo-text {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0px 20px;
}

.footer-path-to {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

.footer-path-to a {
  color: white;
  text-decoration: none;
}
.services-footer-links {
  align-items: center;
}

.footer-nesletter-container {
  text-align: center;
}

.footer-input-container input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #ff7f00;
  padding: 0px 20px;
  font-size: 20px;
  font-family: 'lato', sans-serif;
  background-color: transparent;
  margin-bottom: 20px;
}

.footer-input-container input:focus {
  border: 2px solid #ff7f00;
  color: #ff7f00;
  outline: none;
}

.footer-input-container input::placeholder {
  color: #ff7f00;
}

.outside-main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 40px 0 40px;
}

.footer-media-links a {
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 20px;
  font-size: 30px;
}

.footer-cpoyright {
  padding: 0px 20px;
}
