.our-app-container {
  margin: 40px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  background-color: #2b2a2a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 90vh;
  color: white;
}

.our-app-container h2 {
  font-size: 150px;
  font-weight: 700;
}

.our-app-container p {
  font-size: 40px;
  font-weight: 400;
}

.our-app-container a {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  padding: 10PX 20PX;
  border: 1px solid white;
  border-radius: 15px;
}
