//Fonts
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";

// Your CSS main files
@import "pages/about";
@import "pages/app_tester";
@import "pages/app";
@import "pages/fqa";
@import "pages/help";
@import "pages/home";
@import "pages/pricing";
@import "pages/privacy";
@import "pages/terms";
@import "services/services_cards";
@import "services/services";
@import "services/audio_production";
@import "services/graphic_design";
@import "services/live_event_stream";
@import "services/video_production";
@import "services/web_development";
@import "team/our_team";
@import "team/RMD";

#main-page-color {
  background-color: #070c16;
  background: linear-gradient(to right, #0e0e18, #0a0f18, #070518);
  color: $main-font-color;
  user-select: none;
}
